<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>值绑定</title>
  <script src="../vue.js"></script>
</head>
<body>

  <!-- 可选数据从服务器请求而来,所以不能向之前,之间写死在表单中 -->
  <div id="app">
    <h2>请选择你喜欢的水果</h2>
    <label :for="item" v-for="item in serverData">
      <input type="checkbox" :id="item" :value="item" v-model="selectData">{{item}}
    </label>
    <h2>服务器:{{serverData}}</h2>
    <H2>被选择:{{selectData}}</H2>
  </div>
  <script type="text/javascript">
    const app = new Vue({
      el: "#app",
      data: {
        serverData:["苹果","香蕉","菠萝","榴莲"],
        selectData:[]
      }
    });
  </script>

</body>
</html>
