<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>购物车</title>
  <script src="../vue.js"></script>
  <style>
    table td {
      min-width:40px;
    }
    table thead {
      text-align: center;
    }
    table tr :first-child{
      text-align: center;
    }
  </style>
</head>
<body>

  <div id="app">
    <div v-if="books.length >= 1">
      <table border="1">
        <thead>
          <tr>
            <td></td>
            <td>书名</td>
            <td>价格</td>
            <td>数量</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(book,index) in books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{ book.price | formatPrice }}</td>
            <td>
                <button @click="decrement(index)" :disabled="book.count <= 1">-</button>
                {{book.count}}
                <button @click="increment(index)">+</button>
            </td>
            <td><button @click="removeBook(index)">移除</button></td>
          </tr>
        </tbody>
      </table>
      <h2>总价格:{{totalPrice | formatPrice}}</h2>
    </div>
    <div v-else><h2>购物车为空</h2></div>
  </div>


  <script type="text/javascript">

    const books = [
      {id:1,name:"《Java程序设计》",price:60,count:1},
      {id:2,name:"《Node.js进行到底》",price:45,count:1},
      {id:3,name:"《计算机操作系统》",price:110,count:1},
      {id:4,name:"《Javascript高级编程》",price:66,count:1}
    ];

    const app = new Vue({
      el: "#app",
      data: {
        books
      },
      methods: {
        increment(index){
          books[index].count++;
        },
        decrement(index){
          books[index].count--;
        },
        removeBook(index){
          books.splice(index,1);
        }
      },
      computed: {
        totalPrice(){
          let totalPrice = 0;
          for(book of this.books){
            totalPrice += book.price * book.count;
          }
          return totalPrice;
        }
      },
      filters: {
        formatPrice(price){
          return "$"+price.toFixed(2);
        }
      }
    });

  </script>

</body>
</html>
