body {
	background-color: #f4f4f4;
	font: 12px/1.5 Microsoft YaHei;
	word-spacing: 4px;
}

ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
}
.main-color{color:#f10215!important;}

/* 图标字体 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jz5v6');
  src:  url('../fonts/icomoon.eot?jz5v6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jz5v6') format('truetype'),
    url('../fonts/icomoon.woff?jz5v6') format('woff'),
    url('../fonts/icomoon.svg?jz5v6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
	font-family: icomoon;
	font-style: normal;
}

i.location { /* 位置图标 */
	font-size: 14px;
	font-weight: 700;
}
i#close { /* 关闭图标 */
	color: red;
	font-weight: lighter;
	background: red;
}
i.serach { /* 搜索图标 */
	font-size: 16px;
}
i.photo-search-btn {
	font-size: 14px;
	color: #9f9f9f;
}
i.car { /* 购物车图标 */
	font-size: 14px;
}

/* top-bar 部分 */
#top-bar {
	background-color: rgb(211, 50, 130);
	cursor: pointer;
}
#top-bar .w {
	background-image: url("../img/top-bar-bg.png.webp");
	height: 80px;
	position: relative;
}
#top-bar .w >a { /*左边的图片*/
	position: absolute;
	height: 100%;
}

#top-bar .fr { /* 右边的按钮项 */
	text-align: right;
	padding-right: 20px;
	height: 100%;
	line-height: 80px;
}
#top-bar .fr a {
	width: 116px;
	height: 46px;
	display: inline-block;
	line-height: 100%;
	margin-right: 10px;
	vertical-align: middle;
}
#top-bar #close { /* 关闭top-bar的按钮 */
	position: absolute;
	top: 5px;
	right: 0;
	height: 20px;
	width: 20px;
	background-color: #2d2d2d;
	color: #fff;
	text-align: center;
	line-height: 20px;
	opacity: .3;
	font-style: normal;
}

/* shortcut（快速导航栏）部分 */
#shortcut {
	border-bottom: 1px solid #ddd;
	background-color: #e3e4e5;
	height: 30px;
	line-height: 30px;
	color: #999;
	position: relative;
}
#shortcut a {
	color: #999;
}
#shortcut a:hover {
	color: #e33333;	
}

#shortcut .fl { /* 所在位置 */
	padding: 0 7px;
}
#shortcut .fr{ /* shortcut中的nav */
	
}

#shortcut .fr li{
	float: left;
}


#shortcut .spacer { /* 小竖线 */
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 12px 0;
}

/* header 部分 */

#header {
	background: #fff;
	border-bottom: 1px solid #ddd;
}
#header .w {
	position: relative;
	height: 140px;
}

#header #logo { /* logo部分 */
	position: absolute;
	height: 120px;
	width: 190px;
	top: 10px;
}
#header #logo a{
	display: block;	
	height: 120px;
	width: 190px;	
	font-size: 0; /*消除字体*/
	background-position: 0 0;
	background: url("../img/logo.png") no-repeat;
}
#header #serach { /* 表单域 */
	position: absolute;
	height: 32px;
	width: 546px;
	left: 260px;
	top: 25px;
	border: 2px solid #e2231a;
}

#header #serach input,button {
	border: 0;
	outline: none;
}
#header #serach input { /* 搜索框 */
	left: 0;
	line-height: 26px;
	height: 26px;
	width: 425px;
	padding: 2px 42px 2px 17px;
	font-size: 12px;
}
#header #serach button{
	cursor: pointer;
	right: 0;
	height: 32px;
	width: 58px;
	background-color: #e1251b;
	color: #fff;
}
#header #serach button:hover {
	background-color: #c81623;	
}

#header #serach .photo-search-btn{ /* 照片搜索 */
	position: absolute;
	height: 15px;
	width: 19px;
	line-height: 15px;
	text-align: center;
	right: 75px;
	top: 8px;
	overflow: hidden;
}
#header #serach .photo-search-btn:hover {
	color: #e1251b;
}



#header #car { /* 购物车 */
	position: absolute;
	display: inline-block;
	height: 34px;
	width: 130px;
	right: 230px;
	top: 25px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #eee;
	color: #e1251b;
}

#header #car .car-number {
	position: absolute;
	display: inline-block;
	color: #fff;
	width: 10px;
	height: 10px;
	left: 28px;
	top: 2px;
	text-align: center;
	line-height: 10px;
	background: #e1251b;
	border-radius: 7px;
	padding: 1px 3px;
}
#header #car .car {
	margin-right: 8px;
}

#header #car:hover {
	border-color: #c81623;
	color: #c81623;
}

#header #treasure{ /* 活动区域 */
	position: absolute;
	right: 0px;
	bottom: 10px;
}

#header #hotwords{ /* 热词 */
	position: absolute;
	left: 260px;
	top: 65px;
	width: 550px;
	height: 20px;
	line-height: 20px;
}

#header #hotwords li {
	float: left;
	margin-right: 10px;
}
#header #hotwords a {
	color: #999;
}
#header #hotwords a:hover {
	color: #c81623;
}

#header #nav { /* nav */
	position: absolute;
	left: 203px;
	bottom: 0;
	height: 40px;
}
#header #nav li {
	float: left;
	margin:0 11px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
#header #nav a {
	color: #333;
}
#header #nav a.main-color{
	font-weight: 700;
}
#header #nav a:hover {
	color: #c81623;
}



/* footer */
#footer {
	word-spacing:0;
}
#footer a {color:#666;}
#footer a:hover{ color:#c81623; }
.service {
	padding: 20px 0;
	border-bottom: 1px solid #dedede;
}
.service ul {
	height: 42px;
}
.service li {
	float: left;
	width: 297px;
	overflow: hidden;
}
.service li>*{
	display: inline-block;
}
.service li h5 {
	position: relative;
	width: 36px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	margin-left: 45px;
}
.service li p {
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	margin-left: 5px;
}
.help {
	padding: 20px 0;
}
.help .w {
	height: 160px;
	overflow: hidden;
}

.help-nav {
	float: left;
	width: 198px;
	line-height: 22px;
}
.help-nav-title {
	font-size: 14px;
	margin-bottom: 5px;
}
.help-cover {
	padding:0 10px;
}
.help-cover p {color:#666;}
.help-cover h5 {
	text-align: right;
}
.help-cover .more {
	text-align: right;
}

.copyright .w {
	border-top: 1px solid #e1e1e1;
	text-align: center;
	padding: 15px 0;
}
.copyright .split{
	color: #ccc;
	margin:0 10px;
}
#copyright-info {
	padding: 10px 0;
	line-height: 22px;
	color: #999;
}
#copyright-info a {
	color: #999;
}

.copyright-auth > a {
	display: inline-block;
	height: 32px;
	width: 103px;
	margin: 0 3px;
	overflow: hidden;
}

/* footer的图标 */
.service h5,
.copyright-info-inter i,
.copyright-auth a{
	background-repeat: no-repeat;
	background-image: url("../img/map.png");
}

.service h5 {
	text-indent: -999px;
}
.service .duo {background-position: 0 -192px;}
.service .kuai {background-position: -41px -192px;}
.service .hao {background-position: -82px -192px;}
.service .sheng {background-position: -123px -192px;}

.copyright-info-inter i{
	display: inline-block;
	width: 15px;
	height: 12px;	
	margin-right: 10px;
	vertical-align: -2px;
}
.copyright-info-inter .global{background-position: -108px -155px;}
.copyright-info-inter .rissia{background-position: -168px -155px;}
.copyright-info-inter .indonesia{background-position: -148px -155px;}
.copyright-info-inter .spain{background-position: -128px -155px;}
.copyright-info-inter .thailand{background-position: -108px -172px;}

.copyright-auth a{line-height: 1000px;}
.copyright-auth .icon1{background-position: -205px -111px;}
.copyright-auth .icon2{background-position: -205px -74px;}
.copyright-auth .icon3{background-position: -205px -37px;}
.copyright-auth .icon4{background-position: -205px 0;}
.copyright-auth .icon5{background-position: 0 -155px;}


/* tools */
.w {
	width: 1190px; /* 版心 */
	margin: auto;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
