<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="public.css">
	<style type="text/css">
		.container{
			height: 300px;
		}
		.item {
			width: 100px;
			text-align: center;
			margin: 2px;
		}
		.auto {
			align-self: auto;
		}
		.start {
			align-self: start;
		}
		.end {
			align-self: end;
		}
		.center {
			align-self: center;
		}
		.baseline {
			align-self: baseline;
		}
		.stretch {
			height: auto;
			align-self: stretch;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="item auto">auto(default)</div>
		<div class="item start">flex-start</div>
		<div class="item end">flex-end</div>
		<div class="item center">center</div>
		<div class="item baseline">baseline</div>
		<div class="item stretch">stretch</div>
	</div>
</body>
</html>